body{
    font-family: 'Montserrat';
    background-color: black;
}

h1,h2,h3,h4,h5,h6{
color: white;
}

.title{
    font-size:  45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    color: white;
}

.firstline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}